@import template

#hero-section
  margin-top: 4rem
  .hero-title
    margin-top: 12rem
    p
      text-transform: uppercase
      text-align: center
      font-size: 1.2rem
    h1
      font-size: 5.2rem
      font-family: $poppins
      font-weight: 1000
      margin-top: -1rem
      text-align: center
  .intro-text
    color: $ciGray
    text-align: center
    margin-top: 4rem
    font-size: 1.2rem
  .icons
    display: flex
    gap: 2.5rem
    align-items: center
    justify-content: center
    margin-top: 1.2rem
    svg
      width: 2.2rem
      cursor: pointer
      transition: 100ms ease-in-out
      &:hover
        fill: $ciBlue
  .go-down
    padding: 1rem
    background-color: $ciBlue
    display: flex
    justify-content: center
    align-items: center
    width: 3rem
    height: 3rem
    border-radius: 50%
    position: relative
    margin: 15rem auto 0 auto
    transition: 150ms
    &:hover
      transform: translateY(5px)
    svg
      width: 2rem
      fill: $ciWhite
  .dots-01
    position: absolute
    top: 220px
    left: -20px
  .dots-02
    position: absolute
    top: 40rem
    right: 0
