@import template

#projects
  margin-top: 10rem
  .heading
    font-size: 2.5rem
    font-family: $poppins
    font-weight: 1000
    margin-bottom: 4rem
    text-align: center
  .project
    padding: 0 20rem
    position: relative
    display: flex
    flex-direction: column
    @media screen and (min-width: 2560px)
      padding: 0 38rem
    img
      position: absolute
      right: 20rem
      @media screen and (min-width: 2560px)
        right: 38rem
    .icons
      display: flex
      gap: 1rem
      margin-top: 2rem
      a
        svg
          width: 2rem
          transition: 100ms
          &:hover
            fill: $ciBlue
    .frameworks
      span
        color: $ciBlue
        font-weight: 500
        text-transform: uppercase
    .desc
      span
        font-weight: 700
    p
      width: 30rem
      line-height: 28px
      font-weight: 300
      margin-top: 1rem
  .solve
    margin-bottom: 15rem
    h1
      font-weight: 1000
      font-family: $poppins
      text-transform: uppercase
    img
      width: 40rem
      border-radius: 1rem
  .taekwondo
    margin-bottom: 12rem
    align-items: end
    h1
      font-weight: 1000
      font-family: $poppins
      text-transform: uppercase
      width: 30rem
    img
      width: 35rem
      border-radius: 1rem
      left: 20rem
      @media screen and (min-width: 2560px)
        left: 38rem
      @media screen and (max-width: 1920px)
        left: 15rem
      @media screen and ( max-width: 1735px )
        left: 10rem
      @media screen and ( max-width: 1560px )
        left: 5rem
    .icons
      width: 30rem
  @media screen and (max-width: 1920px)
    .project
      padding: 0 15rem
      img
        right: 15rem
  @media screen and ( max-width: 1735px )
    .project
      padding: 0 10rem
      img
        right: 10rem
  @media screen and ( max-width: 1560px )
    .project
      padding: 0 5rem
      img
        right: 5rem
  @media screen and ( max-width: 1390px )
    .project
      display: flex
      flex-direction: column
      align-items: flex-start
      text-align: center
      width: 100%
      margin-bottom: 12rem
      p
        width: 30rem
        position: relative
        margin: 0 auto
      h1
        text-align: center
        width: 100%
      img
        position: relative
        margin: 3rem auto 0 auto
        padding: 0
        left: 0
        right: 0
      .icons
        justify-content: center
        width: 100%
  @media screen and ( max-width: 735px )
    .project
      img
        position: static
        width: 100%
